*{
margin:0;
padding:0;
}
body{
	text-align:center;
	margin:0 auto;
}
.head{
	height:50px;
	width:100%;
	background-color:#E5ADAD;position:absolute;top:0;
}
ul{
	list-style:none;
	min-width:600px;
}
.headlist li{
	display:inline-block;
	font-size:110%;
	line-height:50px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
.headlist li a{
	display:block;
	height:50px;
	width:100px;
	text-decoration:none;
	color:black;
	border-radius:5px;
}
.headlist li a:hover{
	background-color:#E28E8E;
	transition:all 0.3s;
}
.opened{
	background-color:#E28E8E;
}
.content-cont{

	width:100%;
	margin:80px auto 0 auto;
}
.content{
		margin:30px auto;border:thin #8A8A8A solid; width:500px;height:450px;padding:25px 25px 40px 25px;box-shadow:1px 1px 5px black;
}
.imagediv{
	
}
.imagediv img{
	border-radius:25%;
	box-shadow:1px 1px 3px black;
	cursor:pointer;
	transition:all 0.3s;
}
.quote{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:20px;
	font-variant: small-caps;
	font-style:italic;
}
.contactdetails{
	margin: 10px auto;
	width:700px;
	border:thin black solid;
}
.social li{
	display:inline-block;
}
.edutop{
	font-family:'Comic Sans MS', cursive, sans-serif;
	font-size:25px;
	font-weight:bold;
	color:#954141;
}
.edu{
	font-size:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#555555;
}
.edu1{
	color:#4D3535;
}
.foot{
	background-color:#E28E8E;height:40px;bottom:0;right:0;position:absolute;width:20%;line-height:40px;font-size:18px;
}